{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% if CURRENT_LANGUAGE == 'nl' %}
Wachtwoord Vergeten - PowerTaal
{% elif CURRENT_LANGUAGE == 'en' %}
Forgot Password - PowerTaal
{% elif CURRENT_LANGUAGE == 'de' %}
Passwort Vergessen - PowerTaal
{% elif LANGUAGE_CODE == 'ar' %}
Wachtwoord Vergeten - PowerTaal
{% else %}
Wachtwoord Vergeten - PowerTaal
{% endif %}
{% endblock %}

{% block content %}
<!-- Password Reset Section -->
<section class="reset-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% if LANGUAGE_CODE == 'nl' %}
                    {% include "language/nl/users/includes/form.html" with initial_form="resetForm" %}
                {% elif LANGUAGE_CODE == 'en' %}
                    {% include "language/en/users/includes/form.html" with initial_form="resetForm" %}
                {% elif LANGUAGE_CODE == 'de' %}
                    {% include "language/de/users/includes/form.html" with initial_form="resetForm" %}
                {% elif LANGUAGE_CODE == 'ar' %}
                    {% include "language/ar/users/includes/form.html" with initial_form="resetForm" %}
                {% else %}
                    {% include "language/nl/users/includes/form.html" with initial_form="resetForm" %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %} 